{% extends "./base.html" %}
{% load render_table from django_tables2 %}

{% block content %}
  <h1>Overview</h1>
  <a href="quick_start">Quick start tutorial</a>
  <h4>Cluster stats</h4>
  <table style="width: 40%">
    <tr>
      <td>CPUs:</td>
      <td>{{ stats.cpus_util }} / {{ stats.cpus_total }}</td>
    </tr>
    <tr>
      <td>System memory:</td>
      <td>{{ stats.ram_util }} / {{ stats.ram_total }}</td>
    </tr>
    <tr>
      <td>GPUs:</td>
      <td>{{ stats.gpus_util }} / {{ stats.gpus_total }}</td>
    </tr>
  </table>
  <h4>Tasks</h4>
  <p><a class="create" href="create_job">Create a new job</a></p>
  <h4>Recent jobs</h4>
  {% render_table table %}
  <br>
{% endblock content %}
